.text{
 color: #FD6E0A;   
}
nav > ul{
    display: flex;
    
    
}
nav li{
    list-style: none;
  margin-right: 50px;
  text-align: center;
  
}
nav a{
text-decoration: none;

}
.btn-primary{
    width: 100px;
    height: 30px;
 color: white;
 background-color: #FD6E0A;
 border: 0px;
 border-radius: 3px;
}
nav{
    justify-content: space-between;
    display: flex;
    text-align: center;
    margin: 0px 100px;
}
    .header{
        background-color: #FFF8F3;;
    }
    .benner{
        padding: 30px 30px 30px 150px;
        display: flex;
        align-items: center;
       
    
    }
    .benner .profile{
        width: 300px;
    }
